body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #CFFDE1;
    font-weight: 400;
    color:#3D5656;
    line-height: 1rem;
    text-align: center;
    align-items: center;
    
  }
  
  .h1 {
    font-weight: 900;
    font-size: 500%;
    color: #3D5656;
    line-height: 1.2;
    margin-top: 4rem;
    
  }
  .container{
    margin: 300px;
    padding: 25px;
    height: 200px;
    width: 200px;
  }
  input{
    height: 40px;
    width: 250px;
    margin-bottom: 5px;
    text-align: center;
    background-color: cadetblue;
  }
  button{
    height: 40px;
    width: 250px;
    background-color: white;
    color: #3D5656;

    border-radius: 5px;
  }
